@use "../common/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden-core;
}

body {
  font-family: "Lato", "arial", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}
