@use "../common/variables.scss" as *;

@mixin font-face($font-family, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin visually-hidden-core {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin decorative-line($width: 100%, $color: $decoration-line) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $width;
    height: 1px;
    background-color: $color;
  }
}

@mixin decorative-border($content: "снижение веса", $padding: 5px, $background: $base-moreaccent-color-background, $font-size: 12px, $line-height: 12px, $width: 77px) {
  border: 1px solid $base-color-border;
  border-radius: 3px;
  position: relative;

  &::before {
    content: $content;
    position: absolute;
    padding: $padding;
    background: $background;
    font-family: "Lato", sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    text-transform: lowercase;
    color: $base-color-text;
    bottom: -22px;
    left: 0;
    right: 0;
    margin: auto;
    width: $width;
    text-align: center;
  }
}

@mixin often-button($background: $base-color-background) {
  padding: 10px 20px;
  background: $background;
}

@mixin hero-background($image-url) {
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url($image-url),
    linear-gradient(90deg, rgba(79, 79, 84, 1) 0%, rgba(82, 81, 86, 1) 22%, rgba(72, 71, 76, 1) 50%, rgba(63, 62, 67, 1) 100%);
}

@mixin gift-background($image-url) {
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url($image-url);
}

@mixin navigation-border($border-color: $base-color-background) {
  border-bottom: 2px solid $border-color;
}

@mixin button-condition {
  &:hover {
    background-color: #5eaa2f;
    transition: background-color 0.3s ease;
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease;
  }
}

@mixin card-button-condition {
  &:hover {
    background-color: #ebebeb;
    transition: background-color 0.3s ease;
  }

  &:active {
    background-color: #ebebeb;
    transition: background-color 0.3s ease;
  }
}

@mixin arrow-condition {
  &:hover::before {
    width: 22px;
    right: 11px;
    transition: all 0.2s ease;
  }

  &:hover::after {
    right: 5px;
    transition: all 0.2s ease;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
}

@mixin input-condition {
  &:hover {
    border-color: $base-color-border;
  }

  &:focus {
    outline-color: $base-color-text;
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid #ff8282;
  }
}
