//colors
$base-color-text: #444444;
$base-title-color-text: #222222;
$base-accent-color-text: #ffffff;
$base-color-background: #68b738;
$base-accent-color-background: #f2f2f2;
$base-color-border: #cdcdcd;
$base-color-border-input:#e7e7e7;
$base-moreaccent-color-background: #eaeaea;
$icon-background-color: #666666;
$icon-basic-black: #000000;
$icon-basic-grey: #d3d3d3;
$decoration-line: #d9d9d9;
$decoration-line-menu: #e6e6e6;
//viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
