@use "../common/variables.scss" as *;

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: contents;
  }

  .catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 25px;
}

.catalog__more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__more-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  padding-top: 55px;
  margin: 0 0 8px;
}

.catalog__more-title::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: $icon-basic-grey;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
}

.catalog__more-title::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: $icon-basic-grey;
  top: 9px; /* 23px - 14px (половина высоты крестика с учетом отрисовки пикселей) */
  left: 50%;
  transform: translateX(-50%);
}

.catalog__more-desc {
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
  margin: 0 0 21px;
}

.catalog__more-show {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $base-color-text;
  background-color: $base-accent-color-background;
  max-width: 280px;
  padding: 10px 95px;
}
