@use "../common/variables.scss" as *;

.hero {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: $base-accent-color-text;
}

.hero__title,
.hero__desc,
.hero__nutrition-program {
  background-color: $base-color-background;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__desc {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__nutrition-program {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-accent-color-text;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  picture {
    order: 10;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    position: relative;
    min-height: 500px;
    max-width: 1000px;
    padding: 81px;
  }

  .hero__title {
    margin: 0 0 40px;
    font-size: 60px;
    line-height: 60px;
    max-width: 450px;
  }

  .hero__desc {
    margin: 0  0 52px;
    font-size: 20px;
    line-height: 20px;
    max-width: 400px;
  }

  .hero__nutrition-program {
    margin-bottom: 0;
    max-width: 244px;
    font-size: 20px;
    line-height: 26px;
  }

  .hero__wrapper picture {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}

@media (min-width: $tablet-width) {
  .hero__title,
  .hero__desc {
    color: $icon-basic-black;
    background-color: $base-accent-color-text;
    text-align: start;
  }
}
