.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.how-it-works__list {
  list-style: none;
  line-height: 18px;
  color: $base-color-text;
}

