@use "../common/variables.scss" as *;

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 49px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 30px 47px;
    margin-bottom: 45px;
    border-bottom: 1px solid $decoration-line-menu;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 110px 69px;
    margin: 0;
  }
}

.how-it-works__wrapper {
  max-width: 280px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 708px;
    padding-right: 75px;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 100%;
    padding-right: 0;
    justify-content: space-between;
  }
}

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;

  @media screen and (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.how-it-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 18px;
  color: $base-color-text;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    counter-reset: step-counter;
    gap: 37px;
  }

  @media screen and (min-width: $desktop-width) {
    flex-flow: row wrap;
    justify-content: space-between;
    min-width: 1216px;
  }
}

.how-it-works__list-item {
  display: flex;
  gap: 20px;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 57px;
    counter-increment: step-counter;
    max-width: 242px;
    padding-top: 150px;
    font-size: 16px;
    line-height: 24px;
  }
}

.how-it-works__list-item::before {
  content: "";
  background-color: $base-color-background;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.how-it-works__list-item::after {
  @media screen and (min-width: $tablet-width) {
    content: counter(step-counter);
    position: absolute;
    right: 0;
    top: 0;
    color: $base-accent-color-background;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    font-family: "Oswald", sans-serif;
    z-index: -1;
  }
}

.how-it-works__list-item--functional-nutrition::before {
  background-image: url("../../icons/leaf.svg");
  background-size: 30px 32px;
}

.how-it-works__list-item--release-form::before {
  background-image: url("../../icons/mixture.svg");
  background-size: 26px 29px;
}

.how-it-works__list-item--meal::before {
  background-image: url("../../icons/knife-and-fork.svg");
  background-size: 25px 30px;
}

.how-it-works__list-item--timing::before {
  background-image: url("../../icons/clock.svg");
  background-size: 26px 31px;
}
