@use "../common/variables.scss" as *;

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 49px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 30px 47px;
    margin-bottom: 45px;
    border-bottom: 1px solid $decoration-line-menu;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 106px 69px 110px;
    margin: 0;
    border-bottom: none;
  }
}

.how-it-works__wrapper {
  max-width: 280px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 708px;
    padding-right: 75px;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 1220px;
    padding-right: 0;
    justify-content: space-between;
  }
}

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;

  @media screen and (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.how-it-works__list {
  list-style: none;
  line-height: 18px;
  color: $base-color-text;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    counter-reset: step-counter;
    gap: 37px;
  }

  @media screen and (min-width: $desktop-width) {
    flex-flow: row wrap;
    justify-content: space-between;
    min-width: 1216px;
  }
}
