@use "../common/variables.scss" as *;

.list-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $base-title-color-text;
  max-width: 76px;
  margin: 0 0 14px;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    margin: 0 auto 20px;
    text-align: center;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.list-item__desc-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.list-item__desc-wrapper tr {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet-width) {
    border-bottom: 1px solid $base-color-border;
    padding-bottom: 5px;
    padding-top: 3px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.list-item__desc-wrapper td {
  flex: 1;
}

.list-item__desc-content {
  text-align: end;
  padding: 0;
}

.list-item__desc-title {
  padding: 0;
}

.list-item__desc {
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.list-item__link-order {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $base-accent-color-text;
  background-color: $base-color-background;
  min-width: 280px;
  text-align: center;
}
