@use "../common/variables.scss" as *;
@use "../common/mixins.scss" as *;

.main-navigation__list {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $base-accent-color-text;
    z-index: 1000;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    opacity: 0;
    display: none;
    transform: translateY(-20px);
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    gap: 33px;
    position: static;
    background: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.main-navigation__list--index-desktop {
  @media screen and (min-width: $desktop-width) {
    color: $base-accent-color-text;

    .main-navigation__link--current {
      color: $base-accent-color-text;

      @include navigation-border($base-accent-color-text);
    }
  }
}

.main-navigation__list-item {
  border-bottom: 1px solid $decoration-line-menu;

  &:first-child {
    border-top: 1px solid $decoration-line-menu;
  }

  @media screen and (min-width: $tablet-width) {
    border: none;

    &:first-child {
      border-top: none;
    }
  }
}

.main-navigation__link {
  color: inherit;
  display: block;

  @media screen and (max-width: $tablet-width) {
    padding: 22px 24px;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 10px;

    &--current {
      @include navigation-border;
    }
  }

  &:hover {
    transition: opacity 0.3s ease;
    opacity: 0.6;
  }

  &:active {
    transition: opacity 0.3s ease;
    opacity: 0.3;
  }
}

.main-navigation__list--open {
  @media screen and (max-width: 767px) {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
}

.main-navigation__toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 24px;
  height: 24px;
  padding: 2px 0 4px;
  border: none;
  background: $base-accent-color-text;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  &:hover {
    transition: opacity 0.3s ease;
    opacity: 0.6;
  }

  &:active {
    transition: opacity 0.3s ease;
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }

  &[aria-expanded="true"] {
    transform: rotate(45deg);
    padding: 0;
    gap: 0;
    width: 18px;
    height: 18px;

    .main-navigation__toggle-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      margin: 0;
      transform: translate(-50%, -50%);
      transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }
}

.main-navigation__toggle-icon {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $icon-basic-black;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
