@use "../common/variables.scss" as *;
@use "../common/mixins.scss" as *;

.page-content__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 42px 41px 20px;
  min-width: 259px;
}
