@use "../common/variables.scss" as *;
@use "../common/mixins.scss" as *;

.programs__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.programs__list-item {
  background-color: $base-accent-color-background;
  position: relative;
}

.programs__list-item--weight-loss::after {
  content: "";
  background-image: url("../../icons/cat-black.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  position: absolute;
  top: 0;
  left: 0;
}

.programs__list-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 29px;
}

.programs__list-item--weight-loss,
.programs__list-item--weight-gain {
  .programs__list-title {
    margin-left: 70px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 0 24px;
      max-width: 340px;
      font-size: 36px;
      line-height: 36px;
    }

    @media screen and (min-width: $desktop-width) {
      margin: 0 0 73px 162px;
    }
  }
}

.programs__list-desc {
  line-height: 18px;
  color: $base-color-text;
  position: relative;
  padding-bottom: 24px;

  @include decorative-line();
}

.programs__list-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: inherit;
  text-transform: uppercase;
  align-items: center;
  display: inline-block;
  position: relative;
  padding-right: 47px;
}

.programs__list-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 18px;
  height: 2px;
  background-color: $icon-basic-black;
  transform: translateY(-50%);
}

.programs__list-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7px;
  width: 9px;
  height: 12px;
  background-color: $icon-basic-black;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transform: translateY(-50%);
}

.programs__list-item--weight-gain::after {
  content: "";
  background-image: url("../../icons/cat-black-walk.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: $tablet-width) {
  .programs__list-item--weight-gain::after {
    width: 268px;
    height: 200px;
    top: 0;
    left: auto;
    right: 0;
  }

  .programs__list-item--weight-loss::after {
    width: 200px;
    height: 211px;
    top: 0;
    left: auto;
    right: 0;
  }

  .programs__list-item {
    max-width: 708px;
  }

  .programs__list-desc::after {
    content: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .programs__list-item--weight-gain::after {
    width: 134px;
    height: 100px;
    top: 0;
    left: 0;
  }

  .programs__list-item--weight-loss::after {
    width: 100px;
    height: 106px;
    top: 0;
    left: 0;
  }

  .programs__list-item {
    max-width: 570px;
  }
}
