@use "../common/variables.scss" as *;
@use "../common/mixins.scss" as *;

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 20px;
  padding-left: 0;
  justify-content: center;
  margin: 19px 0;
  width: 100%;

  @include decorative-line;

  @media screen and (min-width: $tablet-width) {
    max-width: 400px;
    margin: 0;
    padding: 8px 12px 7px;

    &::after {
      content: none;
    }
  }
}

.social-list__link {
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 28px;
  min-height: 22px;
  display: block;
  background-color: $icon-background-color;

  &:hover,
  &:focus {
    filter: brightness(0) saturate(100%) invert(56%) sepia(90%) saturate(380%) hue-rotate(60deg) brightness(95%) contrast(90%);
    transition: all 0.2s ease;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.3s ease;
  }
}

.social-list__link--vk {
  mask-image: url("../../icons/vk.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.social-list__link--you-tube {
  mask-image: url("../../icons/you-tube.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}

.social-list__link--telegram {
  mask-image: url("../../icons/telegram.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
}
