@use "../common/variables.scss" as *;

.sub-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.sub-products__list {
  list-style: none;
}

.sub-products__item-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $base-title-color-text;
}

.sub-products__table {
  line-height: 14px;
  color: $base-color-text;
}

.sub-products__link-order {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-accent-color-text;
  background-color: $base-color-background;
}

.sub-products__gift-desc {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: $base-accent-color-text;
  background-color: $base-color-background;
  text-align: center;
  position: relative;
  padding-top: 60px;
}

.sub-products__gift-desc::before {
  content: "";
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background: url("../../icons/gift.svg") center/contain no-repeat;
}

.sub-products__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .sub-products__content {
    display: flex;
    flex-flow: row wrap;
  }

  .sub-products__list {
    display: flex;
    flex-direction: column;
  }

  .sub-products__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 896px;
  }
}
