@use "../common/variables.scss" as *;
@use "../common/mixins.scss" as *;

.subscribe {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 80px 30px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 104px;
  }
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;

  @media screen and (min-width: $tablet-width) {
    max-width: 708px;
    justify-content: center;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 0 70px;
  }
}

.subscribe__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  inline-size: fit-content;
  padding: 0 40px 0 20px;
  margin: 40px 0 32px;
  background-color: $base-accent-color-text;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    height: 2px;
    background: $base-color-background;
    box-shadow: 100vw 0 0 0 $base-color-background;
    z-index: -2;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 0 40px;
    margin-bottom: 66px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 0 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__desc {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0 20px;
  max-width: 320px;

  @media screen and (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    min-width: 632px;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 24px;
    max-width: 1260px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;

  @media screen and (min-width: $tablet-width) {
    min-width: 100%;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    gap: 0;
    justify-content: center;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 752px;
  }
}

.subscribe__field-email {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: $base-color-text;
  border: 1px solid $base-color-border;
  width: 280px;
  padding: 12px;

  @media screen and (min-width: $tablet-width) {
    min-width: 376px;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 496px;
  }

  @include input-condition;
}

.subscribe__form-button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: $base-accent-color-text;
  background-color: $base-color-background;
  text-transform: uppercase;
  border: none;
  padding: 15px 30px;
  cursor: pointer;

  @include button-condition;

  @media screen and (min-width: $tablet-width) {
    min-width: 256px;
  }
}
